@import "tailwindcss";

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
 font-family: 'Oswald', sans-serif;
 color: var(--blanco-hielo);
}
:root {
  --vinotinto: #2f0303;
  --dorado: #D4AF37;
  --plateado: #C0C0C0;
  --body: #1a0805;
  --bronce: #CD7F32;
  --gris-oscuro: #0f0d0d;
  --gris-claro: #1e1d1d;
  --negro-profundo: #0A0A0A;
  --blanco-hielo: #F9FAFB;
}
/* Ancho de la barra */
::-webkit-scrollbar {
  width: 10px;
}

/* Fondo de la barra */
::-webkit-scrollbar-track {
  background: var(--body); 
}

/* Parte que se mueve */
::-webkit-scrollbar-thumb {
  background-color: var(--vinotinto);
  border-radius: 10px;
  max-height: 10px;
  border: 1px solid var(--dorado);
}
